@import url(./reset.css);


.body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0px 165px;
}

.header {
    background-image: url(./img/backround-img/bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #db4518
}

.cart {
    position: relative;
    border-right: 1px solid white;
    padding-right: 10px;
    height: 50px;
}

.cart-img {
    position: absolute;
    top: 18px;
    right: 7px;
}

.num {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.51px;
    transition: color 0.3s linear;
}

.num:hover {
    color: #db4518;
}

.phone-text {
    font-size: 14px;
    font-weight: 400;
    color: white;

}

.phone-holder {
    display: flex;
    align-items: center;

}

.phone-image {
    padding-right: 8px;
}


.button {
    background-color: #FF7400;
    padding: 14px 19px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    transition: background-color 0.3s linear;
}

.button:hover {
    background-color: #863e02;

}

.header-down {
    position: relative;
}

.header-title {
    font-size: 50px;
    line-height: 57px;
    color: #D67E35;
    font-family: 'Tinos', serif;
    text-align: center;
    position: absolute;
    left: 199px;
    margin-top: 322px;
    margin-bottom: 12px;
}

.header-suptitle {

    color: white;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.header-suptitle::after {
    position: absolute;
    content: " ";
    height: 2px;
    width: 61px;
    background-color: white;
    top: 140px;
    left: 310px;
}

.header-suptitle::before {
    position: absolute;
    content: " ";
    height: 2px;
    width: 61px;
    background-color: white;
    top: 140px;
    left: 56px;
}

.header-button {
    color: white;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    background-color: #FF7400;
    padding: 14px 28px;
    transition: background-color 0.3s linear;
}

.header-button:hover {
    background-color: #863e02;
}

.cards {
    display: flex;
    justify-content: space-between;

}

.card {
    display: flex;
    flex: 1 1 349px;
    margin-right: 31px;
    justify-content: center;
    width: 349px;
    box-shadow: 10px 10px 40px 20px #0000001A;
}